<!-- ALL EVENTS -->
<div align="center" style="margin-top: 5%;">
    <h1>ALL EVENTS</h1><br>
    <button mat-raised-button color="primary" (click)="Back()">Back</button><br><br>
<mat-accordion>
    <mat-expansion-panel *ngFor="let events of EventsArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{events.title}}
        </mat-panel-title>
        <mat-panel-description>
         <b>Date:</b> {{events.DateOfEvent}} &nbsp;&nbsp;<b>Time:</b>{{events.TimeOfEvent}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  <h3>Description:{{events.description}}</h3>
  <div fxLayout="row" fxLayoutAlign="space-between center">
  <h3>Name of Speaker:{{events.nameOfExpert}}</h3>
  <h3>Location:{{events.location}}</h3>
  </div>
  <h4>Contact:{{events.mobilenumber}}</h4>

    </mat-expansion-panel>
  
  </mat-accordion>
</div>