


<div style="overflow: hidden;">
<h2 mat-dialog-title>Create Event </h2>  
<mat-dialog-content >
      <!-- <div fxLayout="column" (ngSubmit)="save()">
    <mat-form-field>
        <input matInput
                placeholder="Title of Event"
               [formControl]="title" required>
    </mat-form-field>
    <mat-error *ngIf="title.invalid">{{ getErrorMessage() }}</mat-error> 

    <mat-form-field>
        <input matInput
                placeholder="Name of Expert"
               [formControl]="nameOfExpert" required>
    </mat-form-field>
    <mat-form-field>
        <input type="date" matInput
                placeholder="Date of Event"
               [formControl]="DateOfEvent" required>
    </mat-form-field>
    <mat-form-field>
        <input type="datetime" matInput
                placeholder="Time of Event"
               [formControl]="TimeOfEvent" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Description of Event"
               [formControl]="description" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Location"
               [formControl]="location" required>
    </mat-form-field>
    
    <mat-form-field>
        <input type="number" matInput
                placeholder="Mobile Number of the Person Posting the event"
               [formControl]="mobilenumber" maxlength="10" required>
    </mat-form-field>
</div> -->

<form (ngSubmit)="onSubmit()" >
    <!-- FULLNAME FIELD -->
    <div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Title of Event"
        [formControl]="title"
        required
      />
      <mat-error *ngIf="title.invalid">{{ getUsernameMessage() }}</mat-error> 

      </mat-form-field
    >
    <mat-form-field class="form-field">
      <input
      type="text"
        matInput
        placeholder="Name of Expert"
        [formControl]="nameOfExpert"
        required
      />
      <mat-error *ngIf="nameOfExpert.invalid">{{ getnameOfExpertMessage() }}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="form-field">
        <input
        type="date"
          matInput
          placeholder="Date of Event"
          [formControl]="DateOfEvent"
          required
        />
        <mat-error *ngIf="DateOfEvent.invalid">{{ getDateOfEventMessage() }}</mat-error>
      </mat-form-field>
      
    <mat-form-field class="form-field">
        <input
        type="text"
          matInput
          placeholder="Time of Event"
          [formControl]="TimeOfEvent"
          required
        />
        <mat-error *ngIf="TimeOfEvent.invalid">{{ getTimeOfEventMessage() }}</mat-error>
      </mat-form-field>
      
    <mat-form-field class="form-field">
        <input
        type="text"
          matInput
          placeholder="Description of Event"
          [formControl]="description"
          required
        />
        <mat-error *ngIf="description.invalid">{{ getdescriptionMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
        type="text"
          matInput
          placeholder="Location"
          [formControl]="location"
          required
        />
        <mat-error *ngIf="location.invalid">{{ getlocationMessage() }}</mat-error>
      </mat-form-field>
      
      <mat-form-field class="form-field">
        <input
        type="number"
          matInput
          placeholder="Mobile Number of the Person Posting the event"
          [formControl]="mobilenumber"
          required
        />
        <mat-error *ngIf="mobilenumber.invalid">{{ getmobilenumberMessage() }}</mat-error>
      </mat-form-field>
    <!-- Send BUTTON -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      style="background-color:#416EFF"
    >
      Send
    </button>
</div>
</form>

</mat-dialog-content>
<!-- 
<mat-dialog-actions>
    <div fxLayout="row" fxLayoutGap="30%" >
        <button mat-raised-button color="warn" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"type=submit>Save</button>
</div>

</mat-dialog-actions> -->
</div>