
<div class="main-container">
  <mat-card class="sub-container">
    <div>
          <div fxLayoutAlign="center center" >
          <h2> EVENT MODULE</h2>
        </div>
        <div fxLayoutAlign="space-around center">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          style="background-color:#416EFF"
          (click)="openDialog()"
        >
Add Event        </button>
<button
mat-raised-button
color="primary"
type="submit"
style="background-color:#416EFF"
(click)="showAllEvents()"
>
Show All Events        </button>
</div>
    </div>
  </mat-card>
</div>
